<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.std.sms.dao.ISmsCaptchaDAO">
	<resultMap id="smsCaptcha_DB_Result" type="smsCaptcha">
		<result column="id" property="id" />
		<result column="mobile" property="mobile" />
		<result column="biz_type" property="bizType" />
		<result column="sms_captcha" property="smsCaptcha" />
		<result column="status" property="status" />
		<result column="create_datetime" property="createDatetime" />
		<result column="sent_datetime" property="sentDatetime" />
		<result column="invalid_datetime" property="invalidDatetime" />
		<result column="check_datetime" property="checkDatetime" />
		<result column="check_times" property="checkTimes" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null and id != '' ">
				AND t.id = #{id}
			</if>
			<if test="mobile != null and mobile != '' ">
				AND t.mobile = #{mobile}
			</if>
			<if test="bizType != null and bizType != '' ">
				AND t.biz_type = #{bizType}
			</if>
			<if test="smsCaptcha != null and smsCaptcha != '' ">
				AND t.sms_captcha = #{smsCaptcha}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="invalidDatetime != null and invalidDatetime != '' ">
				<![CDATA[AND t.invalid_datetime >= #{invalidDatetime}]]>
			</if>
			<if test="checkTimes != null and checkTimes != '' ">
				<![CDATA[AND (t.check_times <= #{checkTimes} or t.check_times is null)]]>
			</if>
			<if test="createDatetimeStart != null and createDatetimeStart != '' ">
				<![CDATA[AND t.create_datetime >= #{createDatetimeStart}]]>
			</if>
			<if test="createDatetimeEnd != null and createDatetimeEnd != '' ">
				<![CDATA[AND t.create_datetime <= #{createDatetimeEnd}]]>
			</if>
		</trim>
	</sql>
	<select id="select_smsCaptcha" parameterType="smsCaptcha"
		resultMap="smsCaptcha_DB_Result">
		SELECT
		id,
		mobile,
		biz_type,
		sms_captcha,
		status,
		create_datetime,
		sent_datetime,
		invalid_datetime,
		check_datetime,
		check_times
		FROM
		tjc_sms_captcha t
		<include refid="where_condition" />
		ORDER BY t.id DESC	
	</select>

	<select id="select_smsCaptcha_count" parameterType="smsCaptcha"
		resultType="java.lang.Long">
		SELECT count(1) FROM tjc_sms_captcha t
		<include refid="where_condition" />
	</select>

	<insert id="insert_smsCaptcha" parameterType="smsCaptcha">
		INSERT INTO
		tjc_sms_captcha(
		mobile
		,biz_type
		,sms_captcha
		,status
		,create_datetime
		
		,sent_datetime
		,invalid_datetime
		)
		VALUES(
		#{mobile}
		,#{bizType}
		,#{smsCaptcha}
		,#{status}
		,#{createDatetime}
		
		,#{sentDatetime}
		,#{invalidDatetime}
		)
	</insert>
	
	<update id="update_checkInfo" parameterType="smsCaptcha">
		UPDATE tjc_sms_captcha
		SET 
		status = #{status}
		,check_datetime = #{checkDatetime}
		,check_times = #{checkTimes}		
		WHERE
		id = #{id}
	</update>

	<delete id="delete_smsCaptcha" parameterType="smsCaptcha">
		DELETE FROM
		tjc_sms_captcha
		WHERE
		id = #{id}
	</delete>
</mapper>
