<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.std.sms.dao.IXnSmsCaptchaDAO">
	<resultMap id="xnSmsCaptcha_DB_Result" type="xnSmsCaptcha">
		<result column="code" property="code" />
		<result column="company_code" property="companyCode" />
		<result column="mobile" property="mobile" />
		<result column="captcha" property="captcha" />
		<result column="status" property="status" />
		<result column="send_time" property="sendTime" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="companyCode != null and companyCode != '' ">
				AND t.company_code = #{companyCode}
			</if>
			<if test="mobile != null and mobile != '' ">
				AND t.mobile = #{mobile}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
		</trim>
	</sql>
	
	<select id="select_xnSmsCaptcha" parameterType="xnSmsCaptcha"
		resultMap="xnSmsCaptcha_DB_Result">
		SELECT
		code
		,company_code
		,mobile
		,captcha
		,status
		,send_time
		FROM
		xn_sms_captcha t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				#{order}
			</if>
		</trim>
	</select>
	
	<select id="select_xnSmsCaptcha_count" parameterType="xnSmsCaptcha"
		resultType="java.lang.Long">
		SELECT count(1) FROM xn_sms_captcha t
		<include refid="where_condition" />
	</select>
	
	<insert id="insert_xnSmsCaptcha" parameterType="xnSmsCaptcha">
		INSERT INTO
		xn_sms_captcha(
		code
		,company_code
		,mobile
		,captcha
		,status
		,send_time
		)
		VALUES(
		#{code}
		,#{companyCode}
		,#{mobile}
		,#{captcha}
		,#{status}
		,#{sendTime}
		)
	</insert>
	
	<update id="update_divided" parameterType="divided">
		UPDATE xn_sms_captcha
		SET
		status = #{status}
		WHERE
		code = #{code}
	</update>

</mapper>
